version: '3.8'

services:
  mokea-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mokea-web
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      # http로 들어오면 자동으로 https로 넘기거나, 기본 websecure 사용
      - "traefik.http.routers.mokea-web.rule=Host(`mokea.cloud`) || Host(`www.mokea.cloud`)"
      - "traefik.http.routers.mokea-web.entrypoints=websecure"
      - "traefik.http.routers.mokea-web.tls=true"
      - "traefik.http.routers.mokea-web.tls.certresolver=myresolver"
      - "traefik.http.services.mokea-web.loadbalancer.server.port=80"

networks:
  traefik-public:
    external: true